/* Body */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    text-color: #222222 !important;
}

/*footer*/

.f-info {
    background-color: #ebebeb;
    text-align: center;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.f-info-links, .f-info-socials, .f-info-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.f-info-socials a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
}

.f-info-socials a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.3rem;
    color: #222222;
    transition: color 0.3s ease;
}

.f-info-socials i:hover {
    color: #fe424d;
}

/*Cards*/

.card {
    border-radius: 1rem !important;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit : cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* Card Effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    background-color: white;
    opacity: 0.2;
}

/* New Page */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Button */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* FILTERS */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  opacity: 0.7;
  text-decoration: none;
  color: inherit; /* removes blue color */
  transition: 0.2s ease;
}

.filter:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.filter.active {
  opacity: 1;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
}

/* Cards */
.listing-link {
  text-decoration: none;
  color: inherit;
}

.listing-card {
  transition: transform 0.2s ease;
}

.listing-card:hover {
  transform: scale(1.02);
}
